main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.shipmentContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
 
  /* height: 120px; */
  margin-top: 80px;
  margin-bottom: 80px;
  background-color:#FAFAFA;
}


.shipmentContainer > .innerShipmentContainer  {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-left: 2px solid #fff;
  width: 33.33%;
  /* align-items: center; */
}

@media only screen and (max-width: 768px) {
  .shipmentContainer{
  flex-direction: column;
  border: 0px solid #deddd7;
  /* height: 120px; */
}
  .shipmentContainer > .innerShipmentContainer  {
  width: 100%;
  /* align-items: center; */
}

}
 .innerShipmentContainer:nth-child(1){
  border-left: 0px ;
  
}
.shipmentContainer > .innerShipmentContainer > img{
  width: 50px;
  height: 50px;
  margin-right: 20;
 
  
}

.sub-header {
  background-color: #FAFAFA;
   height: 30px;
   align-content: center;
  

}
html,
body,
#root {
  height: 100%;
}
